<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            alert("{{ message }}");
        </script>
        {% endfor %}
    {% endif %}
    {% endwith %}
  <div class="main">
    <div class="tag">
      <h2>Login</h2>
    </div>
    
    <div class="tag">
      <form method="POST" action="">
          {{form.hidden_tag() }}
          {{form.username}}
          {{form.password}}
          {{form.submit}}
      </form>
    </div>
    <div class="link">
      <a href="{{url_for('register')}}">Dont have a account? Sign up</a>
    </div>
  </div>
</body>
</html>