body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    margin: 50px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.button-container button {
      display: inline-block;
      margin-right: 10px; /* Add spacing between buttons */
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #34495e;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccd1d9;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.3s;
}

form input[type="text"]:focus {
    border-color: #2980b9;
    outline: none;
}

.btn {
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 12px;
    background: #2980b9;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s;
}

.btn:hover {
    background: #1c5985;
}